<div class="fixed left-0 top-0 h-full bg-gray-200 p-4">
  <ul class="space-y-4">
    <li><a routerLink="/dashboard" class="text-blue-500">Dashboard</a></li>
    <li><a routerLink="/annuaire" class="text-blue-500">Annuaire</a></li>
    <li><a routerLink="/cotisation" class="text-blue-500">Cotisation</a></li>
    <li><a routerLink="/deposer-annonce" class="text-blue-500">Déposer une annonce</a></li>
    <li><a routerLink="/articles-evenements" class="text-blue-500">Articles/Évènements</a></li>
    <li><a routerLink="/tresorerie" class="text-blue-500">Trésorerie</a></li>
    <li><a routerLink="/mailing" class="text-blue-500">Mailing</a></li>
    <li><a routerLink="/mailing-listes" class="text-blue-500">Mailing listes</a></li>
    <li><a routerLink="/gestion-alumnis" class="text-blue-500">Gestion Alumnis</a></li>
    <li><a routerLink="/profile" class="text-blue-500">Profile</a></li>
  </ul>
</div>
